
/* TYPO 
   ----
*/

/* First, import all the non-standard fonts you want to use
   as a webfont, for example from <google.com/fonts>
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,900);

html {
  font-size: 1em;  
/*           ⬆︎ affects layout spacing! 
  It sets the 'rem', and is base for 'em' units.
  Higher = more (vertical) spacing.
*/
}

body {
  font-family: 'Source Sans Pro', monospace;*/
  font-weight: 500;  
/*/*  font-size: 1em;  */
  /*         ⬆︎ affects layout spacing! 
  It alters 'em' units.
  Higher = more (horizontal) spacing.
*/
}

tt, code, kbd, samp {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/* Example: different block code border */
blockquote {
/*  border-left-style: dotted;*/
}

/* Example: how to style a specific article
     You'll need to look up the class in the inspector.
*/
body.pbdf64c article {
/*  font-family: 'Vollkorn', sans-serif;*/
}


/* COLORS 
   ------
*/

/* this sets all kinds of links, also :hover, :visited, etc*/
a, a:link {
  color: hsla(180, 75%, 23%, 1);
}

/* now just set everything else only as l needed */
a:hover {
  color: hsla(180, 75%, 23%, 1);
  border-bottom-color: hsla(180, 75%, 23%, 1);
}

body {
/*  background-color: #ddd;*/
  background-color: hsla(180, 75%, 23%, 1);
/*  background-image: url(http://subtlepatterns.com/patterns/geometry.png);*/
/*  background-attachment: fixed;*/
}

header, nav#primary, article, footer {
  background-color: white;
}

/* Example: how to reset stuff to the browser default,
            even if it was set it theme */
header {
/*  background: initial;*/
}

/* thumbnail bg-color (visible if no image exists) */
.project-thumb {
  background-color: #eee; /* light grey */
}

/* list markers */
nav li:before {
  color: hsla(180, 75%, 23%, 0.5);
}




/* Hide elements
   -------------
*/

article .subpages-top {
  display: none;
}


/* ICONS 
   -----
*/

article nav p:first-child:before {
/*  content: "← ";*/
}
article nav p:last-child:after {
/*  content: " →";*/
}


/* Customize Text (language) 
   -------------------------
*/

.metadata .media:before {
/*  content: "Medium: ";*/
}
.metadata .size:before {
/*  content: "Maße: ";*/
}
.metadata .material:before {
/*  content: "Material: ";*/
}


