{% set metadata = ['size', 'media', 'material'] %}

<ul class="metadata">

  {% if page.date %}
    <li class="date">{% include 'partials/date.html' %}</li>
  <dd data-item="date">{% include 'partials/date.html' with page %}</dd>
  {% endif %}
  
  {% for data in metadata %}
  
    {% if page[data] %}
      <li class="{{ data }}">
      {% if page[data][0] is not defined %}
        {{ page[data] }}
      {% else %}
        <ul>
        {% for item in page[data] %}
          <li>{{ item }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endif %}
  
  {% endfor %}

</ul>