{% set metadata = ['size', 'media', 'material'] %}

<dl class="metadata">

  {% if page.date %}
  <dt>Date</dt>
  <dd data-item="date">{% include 'partials/date.html' with page %}</dd>
  {% endif %}
  
  {# for every entry in the metadata list, #}
  {% for data in metadata %}
    
    {# if there is data #}
    {% if page[data] %}
      <dt data-item="{{ data }}">{{ data|capitalize }}</dt>
      {# check if it is a list of things, #}
      {% if page[data][0] is not defined %}
        {# if it is not, just put it #}
        <dd data-item="{{ data }}">{{ page[data] }}</dd>
      {% else %}
        {# if it is a list, put every entry seperately #}
        {% for item in page[data] %}
          <dd data-item="{{ data }}">{{ item }}</dd>
        {% endfor %}
      {% endif %}
      </li>
    {% endif %}
  
  {% endfor %}

</dl>