<!DOCTYPE html>
<html>
  
  {% include 'partials/_head.html' %}
  
  {% if page.query.dark is defined %}
    {% set bodyclass = 'dark' %}
  {% endif%}
  
  <body class=" {{ page.id }} {{ bodyclass }}">
    
    {% block wrapper_before %}
    {% endblock %}
    
    <div id="wrapper">
      {% block header_before %}
      {% endblock %}
      {% block header %}
        {% include 'partials/_header.html' %}
      {% endblock %}
      {% block header_after %}
        <hr>
      {% endblock %}
      
      <a href="#content" class="sr-only">Skip to Content</a>
      
      {% block navigation_before %}
      {% endblock %}
      {% block navigation %}
        {% include 'partials/_navigation.html' with { 'id': 'primary' } %}
      {% endblock %}
      {% block navigation_after %}
      {% endblock %}
      
      {% block content_before %}
      {% endblock %}
      <article id="content">
        {% block content_head %}
        {% endblock %}
        
        {% block content %}
        
          <section id="main">
            {% block main %}
            
              {% block title %}
                {% if page.title %}
                  <h1>
                    {{ page.title }}
                    {% if page.description %}
                    <small>{{ page.description }}</small>
                    {% endif %}
                  </h1>
                {% endif %}
              {% endblock %}
              
              {% block title_after %}
              {% endblock %}
              
              {{ page.content }}
              
              {% block main_tail %}
                {% if page.nolist != true %}
                  <nav class="category">
                    {% include 'partials/listing/category.html' %}
                  </nav>
                {% endif %}
              {% endblock %}

            {% endblock %}
          </section>
  
          {% block main_after %}
          {% endblock %}
  
        {% endblock %}
                
        {% block content_tail %}
        {% endblock %}
      </article>
      
      {% block content_after %}
        <hr>
      {% endblock %}

    </div> <!-- end .wrapper  -->
      
    {% block wrapper_after %}
    {% endblock %}
    
    {% block footer_before %}
    {% endblock %}
    
    {% include 'partials/_footer.html' %}
    
    {% block footer_after %}
    <!-- <code class="debug">{{ _context|json_encode() }}</code> -->
    {% endblock %}
      
  </body>
</html>
