<!DOCTYPE html>
<html>
  
  {% include 'partials/_head.html' %}
  
  <body {% if page.id %}class="{{ page.id }}"{% endif %}>
    
    {% block wrapper_before %}
    {% endblock %}
    
    <div id="wrapper">
      {% block header_before %}
      {% endblock %}
      {% block header %}
        {% include 'partials/_header.html' %}
      {% endblock %}
      {% block header_after %}
        <hr>
      {% endblock %}
      
      <a href="#content" class="sr-only">Skip to Content</a>
      
      {% block navigation_before %}
      {% endblock %}
      {% block navigation %}
        {% include 'partials/_navigation.html' %}
      {% endblock %}
      {% block navigation_after %}
      {% endblock %}
      
      {% block content_before %}
      {% endblock %}
      <article id="content">
        {% block content_head %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}
        
        {% block content_tail %}
        {% endblock %}
      </article>
      {% block content_after %}
        <hr>
      {% endblock %}

    </div> <!-- end .wrapper  -->
      
    {% block footer_before %}
    {% endblock %}
    
    {% include 'partials/_footer.html' %}
    
    {% block footer_after %}
    {% endblock %}
      
    {% block container_after %}
    {% endblock %}
    
  </body>
</html>
