<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% if page.title %}{{ page.title }} » {% endif %}{{ page.name }} — {{ page.tagline }}
    </title>
    <link rel="alternate" type="application/atom+xml" href="{{ page.root_path }}/?/feed/">
    <!-- <link rel="stylesheet" href="{{ page.root_path }}/public/docs/css/screen.css" type="text/css" media="screen"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ page.root_path }}/public/docs/css/style.css" type="text/css" media="screen">
    {% block head %}
    {% endblock %}
  </head>
  <body {% if page.id %}class="{{ page.id }}"{% endif %}>
    {% block container_before %}
    {% endblock %}
    <div class="container">
      {% block header_before %}
      {% endblock %}
      {% block header %}
      <header>
        {% block header_head %}
        {% endblock %}
        <h1>
          <a href="{{ page.root_path }}">{{ page.name }}</a>
          <strong>{{ page.profession }}</strong>
        </h1>
        <div class="email">{{ page.email }}</div>
        {% block header_tail %}
        {% endblock %}
      </header>
      {% endblock %}
      {% block header_after %}
      {% endblock %}
      
      <hr>
      
      {% include 'partials/navigation/navigation.html' %}
      {% block navigation_after %}
      {% endblock %}
      
      {% block content_before %}
      {% endblock %}
      <div id="content">
        {% block content_head %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}
        
        {% block content_tail %}
        {% endblock %}
      </div>
      {% block content_after %}
      {% endblock %}
      
      {% block main_after %}
      {% endblock %}
      
      <hr>
      {% block footer_before %}
      {% endblock %}
      
      <footer>
        {% block footer_head %}
        {% endblock %}
        
        &copy; Copyright {{ page.name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a><br>
        {% block footer_tail %}
        {% endblock %}
        
      </footer>
      {% block footer_after %}
      {% endblock %}
      
    </div> <!-- end container  -->
    {% block container_after %}
    {% endblock %}
    
  </body>
</html>
