{% extends "default.html" %}

{% block content %}

  <section id="main">
    {% block main %}
      {% block title %}
        <h2 id="title"><a href="{{ page.root_path }}">{{ page.title }}</a></h2>
      {% endblock %}
    
      {% block title_after %}
        {% include 'partials/assets/images.html' %}
      {% endblock %}
      
      {{ page.content }}
      
      {% block main_tail %}
        {% include 'partials/assets/pdfs.html' %}
      {% endblock %}

    {% endblock %}
  </section>
  
  {% block main_after %}
  {% endblock %}
  
{% endblock %}


{% block container_after %}
  <script src="{{ page.root_path }}public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


