{% extends "base.html" %}

{% block content %}

  <section id="main">
    <h2 id="title"><a href="{{ page.root_path }}">{{ page.title }}</a></h2>
    
    {% include 'partials/metadata.html' %}
    
    {{ page.content }}
    
    <small id="colophon">{{ page.colophon }}</small>
  </div>
  <hr>
  <p id="project-count"><em>&#8470;</em> {{ page.index }}/{{ page.siblings_count }}</p>
  <p id="gallery-count">
    <em>&#8470;</em> <span>1/1</span>
  </p>
  <div id="gallery-navigation">
    <p><a href="#" id="next-image">Next image</a> <em>&rarr;</em></p>
    <p><a href="#" id="previous-image">Previous image</a> <em>&larr;</em></p>
  </div>
  <div id="subnavigation">
    {% if page.siblings %}
      {% include 'partials/next-page.html' %}
      {% include 'partials/previous-page.html' %}
    {% endif %}
  </div>
  {% include 'partials/assets/media.html' %}
{% endblock %}

{% block container_after %}
  <script type="text/javascript" charset="utf-8">
    document.getElementsByTagName('body')[0].className += ' js-enabled';
  </script>
  <script src="{{ page.root_path }}/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ page.root_path }}/public/docs/js/gallery.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ page.root_path }}/public/docs/js/init-gallery.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}




