{% extends "default.html" %}


{% block title_after %}
  {% include 'partials/metadata.html' %}
{% endblock %}


{% block main_tail %}
  <small id="colophon">{{ page.colophon }}</small>
{% endblock %}
  
{% block main_after %}
  {% include 'partials/navigation/child-navigation.html' with {'title': 'More: '} %}
  
  {% include 'partials/navigation/category-navigation.html' with {'title': 'Other Projects', 'class': 'category-nav-top'} %}

  {% include 'partials/section-media.html' with {'title': 'Media'} %}

  {% include 'partials/navigation/category-navigation.html' with {'title': 'Other Projects', 'class': 'category-nav-bottom'} %}
{% endblock %}
  

{% block container_after %}
  <script type="text/javascript" charset="utf-8">
    document.getElementsByTagName('body')[0].className += ' js-enabled';
  </script>
  <script src="{{ page.root_path }}/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ page.root_path }}/public/docs/js/gallery.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ page.root_path }}/public/docs/js/init-gallery.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}




