{% extends "base.html" %}

{% block content %}
<div id="content">
  {% if page.date %}<p id="date">{% include 'partials/date.html' %} &para;</p>{% endif %}
  <div class="description">
    <h2><a href="{{ page.root_path }}">{{ page.title }}</a></h2>
    <form class="logo-bottom three" action="/search">
      <input type="text" value="{{ page.query.q }}" name="q" id="search-field" autocomplete="off" spellcheck="false" />
    </form>
    {% set results = search(page.query.q) %}
    {% for result in results %}
      <a href="{{ result.url }}">
        <h2>{{ result.title }}</h2>
        <p>{{ result.search_match }}</p>
      </a>
      <hr>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block container_after %}
  <script src="{{ page.root_path }}/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
