{% for child in page.root %}
  {% if child.children %}
    <ul class="projects">
    {% for child in child.children %}
      <li class="{{ child.id }}">
        {% if child.date %}<p id="date">{% include 'partials/date.html' %}</p>{% endif %}
        <h2>
          {% if child.thumb %}
            <img src="{{ child.thumb.url }}" width="{{ child.thumb.width }}" height="{{ child.thumb.height }}" class="project-thumb" alt="">
          {% endif %}
          <a href="{{ child.url }}">{{ child.title }}</a>
        </h2>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}