/* make sure articles have enough padding below */
article {
  padding-bottom: 2em;
}

/* horizontal rules inside articles *are* visible */
article hr {
  margin: 1em 0;
  border-bottom: 0.15em solid #888;
}

article figure {
  margin-bottom: 2em;
}

article .metadata {
  min-height: 1em;
}

article .project-thumb {
  width: 2.5em;
  height: auto;
}

/* hidden elements */
.category-nav-top {
  display: none;
}

/* navigation inside articles */

article nav {
  width: 100%;
}

article nav.page-navigation p {
  float: left;
  margin-top: 0;
}
article nav.page-navigation p:last-child, 
article nav.page-navigation p:first-child {
  width: 50%;
}
article nav.page-navigation #project-count { 
  width: 19%;
  text-align: center;
}
article nav.page-navigation p:first-child,
article nav.page-navigation p:last-child {
  width: 40%;
}
article nav.page-navigation p:first-child a {
  float: left;
  text-align: left;
}
article nav.page-navigation p:last-child a {
  float: right;
  text-align: right;
}
article nav.page-navigation p:first-child:before {
  content: "← ";
  float: left;
  width: 1.5em;
}
article nav.page-navigation p:last-child:before {
  content: " →";
  float: right;
  width: 1.5em;
}
