/* TYPO (navigation)
  - styles only for lists in <nav>
*/

/* for lists inside navs: 
   set normal line-height, reset padding */
nav ul, nav ol {
  line-height: 1.2;
}

/* list items inside navs: 
   - remove padding and list markers */
nav li {
  list-style-type: none;
  padding: 0;
}

/* insert fake list markers */
/* - first-level: */
nav#primary > ul > li:before,
nav#primary > ol > li:before {
  content: "+ ";
  /* consistent width (including some space) */
  width: 0.75em; /* adjust according to chosen symbol */
}
/* (so we can also adjust padding of nested lists */
nav#primary ul ul, 
nav#primary ul ol, 
nav#primary ol ul, 
nav#primary ol ol {
  /* … optimal is same width as the symbol ⬆︎ ) */
  padding-left: 0.75em;
}
/* - second level: */
nav#primary li:before {
  /* choose a symbol – leave the (non-breaking!) space */
  content: "⁃ "; /* any unicode allowed! */
  /* adjust according to chosen symbol: */
  width: 0.75em;  /* consistent width */
  font-weight: 900; /* consistent weight */
  float: left; /* keep on 1 line */
}

/* ONLY first-level list items 
   have more space below… */
nav#primary > ul > li,
nav#primary > ol > li {
/*  margin-bottom: 1em;*/
} 
/* … and bolder links */
nav#primary > ul > li > a,
nav#primary > ol > li > a {
  font-weight: 900;
}
