{% if page.children %}
  <ul>
  {% for child in page.children %}
    <li class="{{ child.id }}">
      <h2>
        <a href="{{ child.url }}">{{ child.title }}</a>
      </h2>
      {% if child.thumb %}
        <img class="project-thumb" src="{{ child.thumb.url }}" alt="{{ page.title }}">
      {% else %}
        <div class="project-thumb"{% if child.thumbcolor %} class="{{ child.thumb-color }}"{% endif %}></div>
      {% endif %}
      {% if child.date %}{% include 'partials/date.html' %}{% endif %}
      {% include 'partials/listing/category.html' with { 'page' : child } %}
    </li>
  {% endfor %}
  </ul>
{% endif %}